Package: com.jy.helloworld
Name: helloworld
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: jeff
Author: jeff
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 104
